---
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ item.name }}
  namespace: {{ item.namespace }}
spec:
  provider: oci
  parameters:
    authType: instance
    vaultId: "{{ private_runtime_vault_id }}"
    secrets: |
{% for secret in item.secrets %}
      - name: "{{ secret.name }}"
        fileName: "{{ secret.fileName }}"
{% endfor %}
  secretObjects:
{% for secret_object in item.secret_objects %}
    - secretName: {{ secret_object.secretName }}
      type: {{ secret_object.type }}
      data:
{% for entry in secret_object.data %}
        - objectName: {{ entry.objectName }}
          key: {{ entry.key }}
{% endfor %}
{% endfor %}
